<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>

<div class="container">
    <div class="row mt-5">
        <h1>Home Page</h1>
        <hr>
        <p>this is my home page</p>
    </div>
</div>
<%- include('./includes/footer.ejs') %>
